body {
    min-height: 10000px; 
    margin: 0;
}
.lentele {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 2rem;
    border-collapse: collapse;
}

.lentele.show {
    display: table;
}

.lentele th {
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 0.5rem;
}

.lentele td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 0.5rem;
}

.lentele th:last-child,
.lentele td:last-child {
    border-right: none;
}

.septintaTevinisElementas {
    position: relative;
    width: 500px;
    height: 500px;
    background: #000;
    margin: 0 auto;
}

.sukurtasKvadratelis {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background: red;
    border: 1px solid blue;
}